body {
  height: auto;
  margin: 0;
  padding-bottom: 150px;
  font-family: serif;
  color: #555555;
  text-align: center;
  background: -moz-linear-gradient(top, #FFF, #d4ecff);
  background: -webkit-linear-gradient(top, #FFF, #d4ecff);
  background: linear-gradient(to bottom right, #FFF, #d4ecff);
}

a {
  text-decoration: none;
  color: #555555;
}

.container {
  margin-top: 30px;
  width: 800px;
  height: 750px;
  background-color: #ffffff;
  display: inline-block;
  border: solid 1px #dddddd;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  cursor: default;
  box-sizing: border-box;
}

.calculater {
  margin: 5%;
  text-align: left;
}

.display {
  height: 70px;
  padding: 5px 0px;
  font-size: 50px;
  border-bottom: solid 1px #777777;
  text-align: right;
  margin-bottom: 20px;
}

.input-box {
  text-align: left;
}

.btn {
  width: 23.04%;
  margin: 0.7%;
  font-size: 50px;
  padding: 7px 0;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  border: solid 1px #dddddd;
  vertical-align: top;
  cursor: pointer;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.btn:hover {
  background-color: #dddddd;
}

.btn:active {
  box-shadow: 2px 2px 2px rgba(0,0,0,0);
}

.main {
  height: 60px;
}

.sub {
  font-size: 20px;
}

.left-btn {
  width: 73.45%;
}

.right-btn {
  width: 23.01%;
}

.active {
  border: solid 1px #555555;
  background-color: #cccccc;
}

.convey {
  position: absolute;
  z-index: -1;
}
